<div class="author">
	<h1 class="author__heading">Hi, I am ajnur</h1>
	<p class="author__body">Student & Creator & Builder</p>
</div>

<img
	src="/img/hero-image.webp"
	alt="person looking out through window"
	class="hero-imagine"
	width="981"
	height="528"
/>

<section class="articles">
	<h2 class="articles__heading">Latest Posts</h2>

	<ul class="article-ul">
		<li>
			<a href="#">
				<span>Post Title</span>
				<span class="article-list__date">Post Title</span>
			</a>
		</li>
	</ul>

	<a href="#" class="pegination">&lt; View Older Posts</a>
</section>
